body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 20px;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #098270;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #076759;
}

h3 {
  margin-top: 20px;
}
