body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: aqua;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-user-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap; 
  margin-bottom: 20px; 
}

.custom-user-card {
  background-color: rgb(197, 231, 239);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s;
}

.custom-user-card:hover {
  transform: scale(1.05);
}

.custom-user-card img {
  border-radius: 30%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}

.custom-user-card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.custom-user-card p {
  margin: 5px 0;
  color: #555;
}

button {
 
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: #0f9315;
}
